<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>upload a new Laptop Details</h1>
   <form method="post" action="/home/store" enctype="multipart/form-data">
   <input type="file" accept="image/*" placeholder="Choose an image"name="image">
   <br><br>
   <textarea placeholder="Add details of this laptop"name="details"></textarea>
     <br><br>
<textarea placeholder="Add features of this laptop"name="features"></textarea>
  <br><br>
<input type="number" placeholder="Add price"name="price">
  <br><br>
<input type="number" placeholder="Add discount"name="discount">
  <br><br>
<button>submit</button>
   </form>
</body>
</html>